html,
body {
  background-color: #1a1a2e;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: auto;
  overflow-y: auto;
  color: #eee;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

code {
  background: #16213e;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
  color: #eee;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
